<form action="" method="post" style="width:60%;margin:1rem auto;">
    <div><input type="text" name="search" placeholder="Search"></div>
    <div>
        <select name="filtre" id="">
            <option value="cast">cast</option>
            <option value="genre">genre</option>
            <option value="directors">directors</option>
        </select>
    </div>
    <div><input type="submit" name="submit" value="Envoyer"></div>
</form>